@{
    ViewData["Menu"] = "Security";
    ViewData["Title"] = "Change Password";
}

@section Styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/css/addtionalcss/toastr.css" rel="stylesheet" />
    <link href="~/css/addtionalcss/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <style type="text/css">
        .theme-color {
            background-color: var(--bs-app-theme);
            color: var(--bs-app-theme-color);
        }
    </style>
}
@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/js/demo/table-manage-default.demo.js"></script>
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/render.highlight.js"></script>
    <script src="~/lib/parsleyjs/dist/parsley.min.js"></script>
    <script src="~/js/additionaljs/toastr.js"></script>
    <script src="~/js/additionaljs/toastr.min.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        var userlogin = '@ViewBag.UserLogin'
    </script>
    <script src="~/js/additionaljs/controller/ChangePassword.js?n=1"></script>
}

<div class="row mb-3">
    <div class="col-xl-6">
        <div class="panel panel-inverse" data-sortable-id="form-stuff-10">
            <div class="panel-heading" style="background-color:var(--bs-app-theme); color:var(--bs-app-theme-color);">
                <h4 class="panel-title" style="font-size:medium"><i class="fa fa-key"></i> @ViewData["Title"]</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="mb-3">
                    <label class="form-label"> User ID </label>
                    <div class="input-group">
                        <input class="form-control" type="text" id="userid" name="userid" disabled="disabled" />
                        <div class="theme-color input-group-text"><i class="bi bi-person-fill fs-14px"></i></div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label"> User Name </label>
                    <div class="input-group">
                        <input class="form-control" type="text" id="username" name="username" disabled="disabled" />
                        <div class="theme-color input-group-text"><i class="bi bi-person-fill fs-14px"></i></div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label"> Password </label>
                    <div class="input-group">
                        <input class="form-control" type="password" id="password" name="password" disabled="disabled" />
                        <button class="btn btn-theme" id="passwordshow"><i id="passwordshow-icon" class="bi bi-lock-fill fs-14px"></i></button>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label"> New Password <small style="color:red">*</small></label>
                    <div class="input-group">
                        <input class="form-control" type="password" id="newpassword" name="newpassword" placeholder="Please fill new Password" />
                        <button class="btn btn-theme" id="newpasswordshow"><i id="newpasswordshow-icon" class="bi bi-lock-fill fs-14px"></i></button>
                          <div class="invalid-tooltip">Please fill a New Password!</div>
                    </div>
                </div>

                <div class="mb-4">
                    <label class="form-label"> Confirmation Password <small style="color:red">*</small></label>
                    <div class="input-group">
                        <input class="form-control" type="password" id="confpassword" name="confpassword" placeholder="Please fill confirmation Password" />
                        <button class="btn btn-theme" id="confpasswordshow"><i id="confpasswordshow-icon" class="bi bi-lock-fill fs-14px"></i></button>
                         <div class="invalid-tooltip" id="msg_validasi_confpassword"></div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default w-100px" id="Clear">Clear</button>
                    <button type="button" class="btn btn-theme w-100px me-5px" id="Save">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>